*{
    margin: 0;
    padding: 0;
}
#message-container{
    height: 700px;
    overflow-y: auto;
}
body{
    width: 100%;
    width: 100%;
}
html{
    width: 100%;
    width: 100%;
}
#app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .message-element {
    font-size: 30px;
    line-height: 1.5;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
  }